html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    height: 100%;
    padding: 0;
}

.row, .right-side {
    height: 100%;
    min-height: 100%;
}

.right-side {
    background: #1a1a1a;
    padding: 10px 25px 10px 10px;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #eee;
    padding: 0 10px;
    width: 300px;
    border-right: 2px solid #aaa;
}

h4 {
    text-align: center;
    padding-bottom: .25em;
    border-bottom: 1px solid #080808;
}

.player-list {
    padding: 10px;
}

.player-list > div > div {
    float: left;
    width: 40%;
    padding: 10px;
    margin: 10px;
}
.player-list > div > div a {
    text-decoration: none;
    color: #888;
}

#overviewer {
    background: #1a1a1a;
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#overviewer iframe {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

#openbar {
    position: relative;
    border-right: 2px solid #aaa;
    background: #eee;
    width: 40px;
    height: 100%;
    padding: 1em;
    min-height: 100%;
    float: left;
}

.dl-horizontal dt {
    width: 130px;
}

.dl-horizontal dd {
    margin-left: 150px;
}
